Server/__pycache__/graphics.cpython-36.pyc
Server/__pycache__/graphics.cpython-35.pyc
Server/GAME*
Server/BLUE_WINS*
Server/RED_WINS*
Client/CodeCup2018_VS2017/.vs*
Client/CodeCup2018_VS2017/CodeCup2018_VS2017/Debug*
Client/CodeCup2018_VS2017/CodeCup2018_VS2017/Release*
Client/CodeCup2018_VS2017/Release*
